.grid-container {
    display: grid;
    grid: 1fr 5fr 1fr / 1fr 4fr;
    grid-template-areas:
            "header header"
            "sidebar content"
            "footer footer";
}

.grid-container > * {
    outline: 1px solid black;
}

header {
    grid-area: header;
}
footer {
    grid-area: footer;
}
.sidebar {
    grid-area: sidebar;
}
.content {
    grid-area: content;
}

.todo {
    margin: 10px;
}

.todo > * {
    margin: 0 20px;
}

#form-add-todo {
    display: flex;
    flex-direction: column;
}

#form-add-todo > textarea {
    box-sizing: border-box;
    min-width: 100%;
}