.grid-container {
    display: grid;
    grid: 1fr 5fr 1fr / 1fr 4fr;
    grid-template-areas:
            "header header"
            "sidebar content"
            "footer footer";
}

.grid-container > * {
    outline: 1px solid black;
}

header {
    grid-area: header;
}
footer {
    grid-area: footer;
}
.sidebar {
    grid-area: sidebar;
}
.content {
    grid-area: content;
}

.todo {
    margin: 10px;
}

.todo > * {
    margin: 0 20px;
}

#form-add-todo {
    /*border: 1px solid red;*/
    height: 100%;
    margin: 0;
    padding: 0;
    gap: 0;
    display: grid;
    grid: 1.2rem 1.2rem 1.2rem auto 1.2rem / auto;
    grid-auto-flow: column;
    justify-content: stretch;
    justify-items: stretch;
    align-content: stretch;
    align-items: stretch;
}

#form-add-todo > * {
    /*border: 1px solid red;*/
    padding: 0;
    margin: 0;
}

#form-add-todo > textarea {
    box-sizing: border-box;
    min-width: 100%;
    min-height: 100%;
}